registro.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="registro">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="usuario" minOccurs="0" maxOccurs="unbounded"></xs:element>
                <xs:element name="empleado" minOccurs="0" maxOccurs="unbounded"></xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>